:root {
  --strong: hsl(172, 67%, 45%);
  --veryDark: hsl(183, 100%, 15%);
  --darkGrayish: hsl(186, 14%, 43%);
  --grayish: hsl(184, 14%, 56%);
  --lightGray: hsl(185, 41%, 84%);
  --veryLightGray: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline-color: var(--strong);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  background-color: var(--lightGray);
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  color: var(--darkGrayish);
  background-color: var(--white);
  column-gap: 3rem;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 0;
  width: 50%;
  height: 40rem;
  border: 0.3rem solid var(--white);
  border-radius: 2.5rem;
  padding: 2.4rem;
  line-height: 5rem;
}

/* First Section */
.first-section {
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  line-height: 3rem;
}

.bill {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
input.bill--1 {
  font-family: "Space Mono", monospace;
  line-height: 3rem;
  text-align: end;
  border: 0.1rem solid var(--white);
  color: var(--veryDark);
  font-size: 2.4rem;
  font-weight: 700;
  background: url("..\\images\\icon-dollar.svg");
  background-size: 1rem;
  background-position: 1rem .8rem;
  background-repeat: no-repeat;
  background-color: var(--veryLightGray);
}


.tip-value {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  
}

.tip-btn {
  height: 4rem;
  color: var(--white);
  background-color: var(--veryDark);
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  transition: .5s ease;
}
.tip-btn:hover {
  color: var(--veryDark);
  background-color: var(--strong);
  cursor: pointer;
}

.custom-btn {
  color: var(--veryDark);
  background-color: var(--veryLightGray);
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  transition: .5s ease;
}

.custom-btn:hover {
  color: var(--veryDark);
  background-color: var(--strong);
  cursor: pointer;
}


.number-of-people {
  display: flex;
  flex-direction: column;
}
input.number-of-people--1 {
  font-family: "Space Mono", monospace;
  line-height: 3rem;
  text-align: end;
  border: 0.1rem solid var(--white);
  color: var(--veryDark);
  font-size: 2.4rem;
  font-weight: 700;
  background: url("..\\images\\icon-person.svg");
  background-size: 1rem;
  background-position: 1rem 1rem;
  background-repeat: no-repeat;
  background-color: var(--veryLightGray);
}

.selected {
  color: var(--veryDark);
  background-color: var(--strong);
}

/* Second Section */
.second-section {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: var(--veryDark);
  color: var(--white);
  border: 0.3rem solid var(--white);
  border-radius: 2.5rem;
}

.tip {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  row-gap: 5rem;
}

.tip--1 {
  display: flex;
  flex-direction: column;
}
.tip-amount  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}
.tip-total  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.tip-amount--1   {
  line-height: 2rem;
}
.tip-total--1   {
  line-height: 2rem;
}

.amount-value {
  color: var(--strong);
}

.person {
  color: var(--grayish);
  font-size: 1.2rem;
}

.reset {
  margin-top: 2rem;
  text-align: center;
}

.reset-btn{
  width: 80%;
  height: 2.8rem;
  background-color: var(--strong);
  color: var(--veryDark);
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  transition: .5s ease;
}

.reset-btn:hover {
  background-color: var(--lightGray);
  cursor: pointer;
}









/* temporary */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
